version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: vox-db-dev
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 3141
      POSTGRES_DB: vox
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data_dev:

